<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="." mimeType="application/octet-stream" />
      <mimeMap fileExtension=".TOK" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".0" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".1" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".2" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".3" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".4" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".5" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".6" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".7" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".8" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".9" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".10" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>

</configuration>
